@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    color: #454545;
    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
   
    
}

img {
    border: 0;
    
}

header {
    background-image: url(images/bg05.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
header nav {
    border-bottom: 2px solid #fff;
}
header nav ul {
    display: flex;
    justify-content: end;
    /* padding: 30px; */
}
header nav ul li {
    padding: 20px;
}
header nav ul li a{
    color: #fff;
    display: block;
    text-align: center;
    
}
header nav ul li:hover {
    background-color: rgb(5, 38, 71);
}
header h1 {
    color:#fff;
    text-align: center;
    font-size: 100px;
    padding: 100px; 
}
header h2 {
    text-align: center;
    
}
.about {
    height: 100vh;
    background-color: #E2EEFB;
    padding: 40px;
    
}
.about h2 {
    text-align: center;
    /* padding: 35px; */
    /* margin-bottom: 10px; */
    padding: 20px;
    font-size: 40px;
    color: #333D6F;
}
.introduce {
    text-align: center;
    padding: 30px;
   
}
.about-content {
    display: flex;
    justify-content: center;
    gap: 40px;
    
}
.growth img, .conversation img  {
    width: 250px;
    height: 250px;
    padding: 10px;
    /* border: 1px solid #000; */
    
  
}
.growth, .conversation {
    width: 250px;
    height: 350px;
    background-color: #fff;
}
.growth p, .conversation p {
    padding: 0 30px;
    font-size: 15px;
}
.fa-heart {
    color: red;
}
.about-icon  {
    padding:  0 30px; 
    /* display: flex; */
    /* justify-content: center;   */
}
.fa-heart .fa-comment .fa-paper-plane {
    float: left;
}
.fa-bookmark {
    float: right;
}
.fa-ellipsis {
    margin-left: 50px;
    color: #787878;
}

.profile {
    height: 100vh;
    padding: 40px;
}
.profile h2 {
    text-align: center;
    margin: 20px;
    font-size: 40px;
    color: #333D6F;
}
.profile-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px; 
}
.profile h5 {
    padding: 20px 0;
}
.profile img, .study img {
    width: 150px;
    height: 150px;
    padding: 10px;
    /* border: 3px solid orange; */

    /* border: 1px solid #000; */
    
    

}
.work img {
   width: 300px;
   height: 300px;
   /* border: 3px solid orange; */
   border: 3px solid orange;
   border-radius: 20px;
}
.education-txt {
    display: flex;
    /* border: 1px solid #000; */
    gap: 20px;
   
}
.profile-txt {
    display: flex;
    gap: 20px;
    /* border: 1px solid #000; */
    /* padding: 20px; */
   
}

.profile-education {
    padding: 30x;
}
.profile-txt h5, .education-txt h5 {
    font-size: 20px;
}
.skill {
    height: 100vh;
    background-color: #333D6F;
    padding: 40px;
       
}
.skill h2 {
    text-align: center;
    color: #fff;
    padding: 30px;
    font-size: 40px;
}
.skill img {
    width: 100px;
    height: 100px;
}
.icon img {
    width: 110px;
    height: 110px;
}
.css img {
    width: 120px;
    height: 110px;
}

.skill-icon {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 100px;
}
.skill-icon .txt {
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding: 0 10px
}
.portfolio {
    /* width: 100vw; */
    height: 100vh;
    background-color: #EBF4FF; 
    padding: 40px; 
}
.portfolio h2 {
    text-align: center;
    padding: 30px;
    font-size: 40px;
    color: #333D6F;
}
.portfolio-content {
    display: flex;
    justify-content: center;
    gap: 50px;
    /* align-items: center; */
    padding: 20px;
    
}
.portfolio img {
    width: 300px;
    height: 300px;
    
}
.portfolio span {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px 20px;  
   
}
.portfolio span:hover {
    background-color: #333D6F;
    
}
.portfolio span a:hover {
    color: #fff;
}
.portfolio-content  {
    position: relative;
}
.btn img {
    width: 20px;
    height: 20px;
    
}
.btn .prev {
    position: absolute;
    top: 50%;
    right: 80%;   
}
.btn .next {
    position: absolute;
    top: 50%;
    left: 80%;
}
footer {
    background-image: url(images/bg05.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    padding: 30px;
}
footer h2 {
    color: #fff;
    padding:50px;
    text-align: center;
}
.contact span {
    color: #fff;
    text-align: center;
}
 .contact p {
    color: #fff;
    padding: 10px;
    text-align: center;
   
}

.fa-user, .fa-phone, .fa-envelope {
    color: #fff;
    padding: 10px;
}
